<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue - API 串購物車與表單驗證- 產品列表</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
  <link rel="stylesheet" href="css/layout.css" />
</head>

<body>
  <div id="app">
    <loading :active.sync="isLoading"></loading>


    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="images/logo.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">首頁 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">最新消息</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="products.html">產品列表</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-link-cart" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon-cart-wrap">
                  <i class="fas fa-shopping-cart"></i>
                  <span class="cart-num">{{totalQuantity}}</span>
                </span>
              </a>
              <div class="cart-popup dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <div class="table-responsive dropdown-cart-list">
                  <table class="table table-sm table-striped">
                    <caption>已選擇商品</caption>
                    <thead>
                      <tr>
                        <th scope="col">品名</th>
                        <th scope="col">數量</th>
                        <th scope="col">單價</th>
                      </tr>
                    </thead>
                    <tbody v-if="carts.length">
                      <tr v-for="item in carts" :key="item.product.id + 1">
                        <td>{{item.product.title}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.product.price| money}}</td>
                      </tr>

                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="3" class="text-right">總計：{{totalPrice| money}}</td>
                      </tr>
                    </tfoot>
                  </table>
                  <a class="bg-info text-white text-center" href="cart.html">前往結帳</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section>
      <div class="container product_list">
        <div class="row">
          <div class="col-12">
            <nav class="sec_menu d-flex justify-content-around">
              <a href="#" class="all active">全部</a>
              <a href="#" class="asia">亞洲</a>
              <a href="#" class="africa">非洲</a>
              <a href="#" class="america">美洲</a>
              <a href="#" class="oceania">大洋洲</a>
            </nav>

          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-4 lists">
          <div class="col mb-4" v-for="(product,idx) of products" :key="product.id">
            <div class="card">
              <div class="img_wrap">
                <img :src="product.imageUrl[0]" class="card-img-top" alt="...">
                <span class="badge badge-pill badge-warning">{{product.category}}</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p>{{product.content}}</p>
                <p class="prices d-flex justify-content-between align-items-center">
                  <span class="price_origin">{{product.origin_price | money}}/人</span>
                  <span class="price_discount">{{product.price | money}}/人</span>
                </p>
                <div class="btns d-flex justify-content-between mt-3">
                  <button type="button" class="btn btn-outline-secondary" @click="getProduct(product.id)"
                    :disabled="product.id === status.loadingItem">查看更多
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                      v-if="product.id === status.loadingItem"></span>
                  </button>
                  <button type="button" class="btn btn-info" @click="addToCart(product.id)">
                    <span><i class="fas fa-shopping-cart"></i></span> 加到購物車
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <footer class="out-footer">圖片、介紹皆取自網路，僅供練習之用</footer>


    <div id="productModal" class="modal fade" ref="modalProduct" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="exampleModalLabel" class="modal-title">
              {{ tempProduct.title }}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="img-wrap">
              <img :src="tempProduct.imageUrl[0]" class="img-fluid" alt>
            </div>
            <blockquote class="blockquote mt-3">
              <p class="mb-0">{{tempProduct.content}}</p>
              <!-- 產品描述的內容可以很多，還可以用編輯內容的套件去新增，所以要用 v-html 保留裡面的樣式 -->
              <footer class="blockquote-footer text-right" v-html="tempProduct.description">
              </footer>
            </blockquote>
            <div class="d-flex justify-content-between align-items-baseline">
              <div><del>原價 {{ tempProduct.origin_price | money }}</del></div>
              <div class="text-info">現在只要 <span class="h4"> {{ tempProduct.price | money }}</span></div>
            </div>
            <select v-model="tempProduct.quantity" name class="form-control mt-3">
              <option value="0" disabled selected>
                請選擇人數
              </option>
              <option v-for="quantity in 10" :key="quantity" :value="quantity">
                選擇 {{ quantity }} 位
              </option>
            </select>
          </div>
          <div class="modal-footer">
            <div v-if="tempProduct.quantity" class="text-muted text-nowrap mr-3">
              小計
              <strong>{{ tempProduct.quantity * tempProduct.price| money }}</strong> 元
            </div>
            <button type="button" class="btn btn-info" @click="addToCart(tempProduct.id,tempProduct.quantity)">
              <span v-if="tempProduct.id === status.loadingItem" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
              <span v-else><i class="fas fa-shopping-cart"></i></span>
              加到購物車
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <!-- fontawesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
    integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
    crossorigin="anonymous"></script>
  <!-- axios -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <!-- vue -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
  <!-- vue 驗證套件 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.7/vee-validate.full.min.js"></script>
  <!-- vue loading 套件 -->
  <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
  <script type="module" src="js/all.js"></script>

</body>

</html>