<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 與 API 串接</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="stylesheet" href="css/layout.css">
</head>

<body>
  <div class="page-products" id="app">
    <nav class="bg-info">
      <h1 class="text-white">產品管理頁面</h1>
      <button type="button" class="btn btn-light ml-auto" @click="signout">登出</button>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-end my-3">
            <button type="button" class="btn btn-warning" @click="openModal('new')">建立新的產品</button>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">分類</th>
                  <th scope="col">產品圖</th>
                  <th scope="col">產品名稱</th>
                  <th scope="col">原價</th>
                  <th scope="col">售價</th>
                  <th scope="col">是否啟用</th>
                  <th scope="col">編輯</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in products" :key="item.id">
                  <th scope="row">{{item.category}}</th>
                  <td><img class="sm-img" :src="item.imageUrl[0]"></td>
                  <td>{{item.title}}</td>
                  <td>{{item.origin_price}}</td>
                  <td>{{item.price}}</td>
                  <td>
                    <label class=" switch">
                      <input type="checkbox" disabled :checked="item.enabled">
                      <span class="slider round"></span>
                    </label>
                  </td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-outline-info" @click="openModal('edit',item)"
                        :disabled="btnLoading === item.id">編輯
                        <span v-if="btnLoading === item.id" class="spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span>
                      </button>
                      <button type="button" class="btn btn-outline-danger" @click="openModal('del',item)">刪除</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination :pages="pagination" @emitpage="getProducts"></pagination>
          <product-modal :uuid="uuid" :url="url" :is-new="isNew" :temp-product="tempProduct" @update="getProducts">
          </product-modal>
          <product-modal-del :uuid="uuid" :url="url" :temp-product="tempProduct" @update="getProducts">
          </product-modal-del>
        </div>
      </div>
    </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
    integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
  <script type="module" src="./js/allProducts.js"></script>
</body>

</html>